/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/

/* * {
  background-color: darkgreen;
} */

body {
  background-color: darkgreen;
  
}

button {
  background-color: aqua;
}

input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 

p 

strong {
  font-weight: bold;
}


#main-header-title {
  color: blueviolet;
  display: flex;
  justify-content: center;
  margin-bottom: -.02rem;
}

#main-header-subtitle {
  display: flex;
  justify-content: center;
}

.budget-border {
  border: dotted 1px royalblue;
  margin: auto 30rem;
  background-color: slategrey;
}

