/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/

/* * {
  background-color: darkgreen;
} */

body {
  background-color: rgb(3, 149, 194);

}




button {
  background-color: gold
}

input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 

p {
  
}

strong {
  font-weight: bold;
}

.main-header {
  
}

#main-header-title {
  color:gold;
  display: flex;
  justify-content: center;
  margin-bottom: -.02rem;
  margin-top: 0;
  background-color: mediumseagreen;
  
}

#main-header-subtitle {
  display: flex;
  justify-content: center;
  color: wheat;
  background-color: mediumseagreen;
}

.budget-border {
  border: dotted 1px royalblue;
  margin: auto 30%;
  background-color: slategrey;
}

