
.note {
    flex-basis: 28%;
    margin: 1.5rem 1rem;
    padding: 1em;
    border: 4px solid gold;
    border-style: double;
    background-color: rgb(60, 179, 149);
}

.notes {
    margin: 2rem 8rem;
    margin-top: 2rem;
}

.note-entry-date {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid gold;
}

.poopierbutt {
    display: grid;
    justify-content: flex-end;
    margin-right: 3rem;
}

/* .noteForm {
    flex-basis: 28%;
    margin: 1.5rem 1rem;
    padding: 1em;
    border: 4px solid gold;
    border-style: double;
    background-color: rgb(60, 179, 149);
} */