.plants {
    margin: 2rem 8rem;
    margin-top: 2rem;
}
  
.plant {
    flex-basis: 28%;
    margin: 1.5rem 1rem;
    padding: 1em;
    border: 4px solid gold;
    border-style: double;
    background-color: rgb(60, 179, 149);
}

.plant-list-title {
  display: flex;
  justify-content: center;
}


.last-water-date {
    display: flex;
    justify-content: flex-end;
    color: wheat;
    border-bottom: 2px solid steelblue;
}

.plantForm__title {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.plantForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto 20%; 
    padding: 1.5%;
    border: 4px solid gold;
    border-style: double;
    background-color: rgb(60, 179, 149);
}

.plantForm fieldset {
    margin: -.55rem 1rem;
}

.add-save-plant-btn {
    display: flex;
    justify-content: center;
    margin: .5rem auto;
}

p {
  color: wheat;
}

h2, h3 {
  color: wheat;
  
}

h1, h5 {
  color: gold;
}

.search-input-box {
    background-color: gold;
    opacity: 0.6;
}

.plantButtons {
  
}