.plants {

}
  
.plant {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid gold;
  }

.last-water-date {
    display: flex;
    justify-content: flex-end;
  }








  .search-input-box {
    background-color: gold;
  }