.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 50rem;
    margin-right: 4rem;
}

/* .home-button {
    display: flex;
    align-self: flex-end;
    
} */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poopybutt {
    margin-left: 3rem;
}